footer{
    height: 100px;
    background-color: #53C7FD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer ul{
    margin-bottom: 15px;
  }

  footer a{
    margin-right: 5px;
    color: white;
    font-size: 15px;
  }

  footer p{
    margin-right: 5px;
    color: white;
    font-size: 15px;
  }