#Disponibles{
    background-color: #53C7FD;
    padding: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 18px;
    color: #FFF;
}

#TextoGaleria{
    text-align: left;
}

.Galeria{
    display: flex;
    flex-direction: column;
    width: 100%;
}

table{
    border-collapse: collapse;
    border-spacing: 10px;
    width: 100%;
}

td{
    text-align: center;
}

thead{
    background: #E5017D;
    color: #FFF;
}

th{
    padding: 10px;
}

.FotoGaleriaTabla{
    width: 100px;
}

#Tabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Relleno{
    background-color: #E5017D;
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
}